*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;

  color: #EFEFEF;
}

div#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 22px;
  
}

.accordion{
  width: 80%;
  margin: 10px 0px;
}

.accordion-item{
  margin:5px 0px;
}

.accordion-body{
  color: black;
  text-align: center;
}

.dvForm{
  width: 85%;
  margin: 10px 0px;
}

.txtInput{
  margin: 5px 0px;
}

.btnAdd{
  background-color: #F66B0E !important;
  width: 80%;
}

.btnDelete{
  margin-top: 10px;
}